body  {
    background-color: beige;
   }
   h1 {
    color: green;
    text-align: center
   }
   h3{
    color: green;
    text-align: center 
   }
   #main {
       background: rgb(174, 226, 174);
       margin: 30px;
       text-align: center
   }
   .img{
       height:90px;
       width:90px
   }